# macOS
.DS_Store

# Gradle / Kotlin
.gradle/
.kotlinc/
.konan/
.kotlin/
**/build/
build/

# IntelliJ / Android Studio
.idea/
*.iml

# Local machine config
local.properties
local.settings

# iOS / Xcode
**/DerivedData/
*.xcuserstate
**/xcuserdata/
